<div class='form-pages'>
  <div class='form-top'>
    <h1 class='page-title form-header'>EDIT TASK</h1>
    <div>
      <%= link_to "BACK TO #{@task.title}", category_task_path(@category, @task) %>
    </div>
  </div>


  <div class='form-proper'>
    <%= render "form", task: @task %>
  </div>

</div>