<div class='form-pages'>
  <div class='form-top'>
    <h1 class='page-title form-header'>NEW TASK</h1>
    <%= link_to "BACK TO #{@category.title}", category_path(@category) %>
  </div>

  <div class='form-proper'>
    <%= render "form", task: @task %>
  </div>
  
</div>
