@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: 'Roboto';
}
body, nav {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://img.freepik.com/premium-vector/trendy-background-design-memphis-style_608527-842.jpg?w=1060');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    overflow: auto;
    box-sizing: border-box;
    
}
a, a:visited, .dlt-button  {
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    color: #187e8a;
    padding: 3px;
}

a:hover, .dlt-button:hover {
    border: none;
    background-color:#d63d35;
    color: #f6fafb;
}

.wrapper {
    width: 100%;
    
}
.page-top {
    padding-right: 20px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: solid 1px #187e8a;
    background-color:  #f6fafbe1;
}

.page-title {
    margin-right: 10px;
    color:#d63d35;
    background-color: #f6fafbe1;
}

.page-body{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
}
.indiv-categ {
    width: 30%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 2px #d63d35;
    height: 120px;
    background-color:  #f6fafbe1;
}
    /*colors: cream: #f6fafb; beige: #ded5c4; orange: #d63d35; blue: #187e8a; */

.categ-title {
    color: #187e8a;
    padding-right: 5px;
    border:none;
}
.categ-description {
    text-transform: uppercase;
    font-size: 0.8rem;
    padding-right: 5px;
}
.add-btn {
    font-weight: 800;
    font-size: 2rem;
}
.form-wrapper {
    padding: 10px;
    border-radius: 10px;
    color: #187e8a;
}
.form-body{
    margin: auto;
    width: 40vw;
    background-color: #f6fafb; 
    padding: 50px 10px;
    border-radius: 25px;
    box-shadow: 10px 10px 5px #187e8a;
}
.form-field {
    padding:5px;
    border: solid 1px #d63d35;
    border-radius: 10px;
    width: 100%;
}
.form-input {
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 5px 40px;
   
}
.text-area{
    height: 200px;
}
.form-label {
    font-weight: 600;
    text-transform: uppercase;
}
.button {
    border: none;
    background-color:#d63d35;
    color: #f6fafb;
    border-radius: 5px;
    padding: 5px;
    text-transform: uppercase;
}
.button:hover {
    border: solid 1px #187e8a;
    color: #187e8a;
    background-color: #f6fafb;
}
.form-pages, .category-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-top {
   margin: auto;
   text-align: center;
}
.form-proper {
    margin: auto;
    margin-top: 20px;
}
.categ-top {
    margin: auto;
    max-width: 40%;
}
.categ-page-title {

    text-transform: uppercase;
    text-align: center;
}
.categ-page-desc {
    color: #187e8a;
    font-weight: 600;
    font-size: 1.5rem;
    margin: auto;
    padding: 20px;
    text-align: justify;
   


}
.button-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.dlt-button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
}
.task-due {
    color: red;
    font-weight: 600;
    font-size: 0.8rem;
    margin-top: 0px;
}
.indiv-task {
    width: 30%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 2px #187e8a;
    height: 125px;
    background-color:  #f6fafbe1;
}
.task-card {
    box-sizing: border-box;
    border: solid 1px lightgray;
    background-color: #187e8a;
    width: 30%;
    margin: auto;
    margin-top: 50px;
    border-radius: 25px;
    overflow: hidden;
}
.task-card-top {
    color: #f6fafb;
    
}

.task-label {
    font-size: 1rem;
    font-weight: 700;
}
.task-title {
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
}
.due-date {
    color: red;
    font-weight: 600;
}
.task-description, .status {
    font-weight: 400;
  
}
.task-card-body {
    background-color: #f6fafb;
    padding: 25px;
}
.task-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}
/*styles for navbar*/
.nav-bar {
    color: #187e8a;
    background-color: #f4fbfbed;
    border-bottom: solid 3px #d63d35;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    margin-top: 0;
}
.nav-ul {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    padding: 10px;
}
.nav-li {
    list-style-type: none;
    padding: 10px;
}
.app-name {
    font-family: 'Space Mono';
    font-weight: 600;
    padding: 5px;
    font-size: 3rem;
    margin: 5px;
}
.journal-text {
    color: #d63d35;
    font-family: 'Space Mono';
    font-weight: 600;
    font-size: 3rem;
}
.logged-greeting {
    font-family: 'Roboto';
    padding: 5px;
    font-size: 3rem;
    margin: 5px;
}
.logged-user {
    color: #d63d35;
    font-family: 'Roboto';
    font-size: 3rem;
}
.notice-container {
    color: green;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.reg-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}
.reg-form {
    margin: auto;
    border-radius: 25px;
    border: solid 1px lightgray;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
    overflow: hidden;
    background-color: #f6fafb;
}


.reg-form-top {
    text-transform: uppercase;
    color: #f6fafb;
    background-color: #187e8a;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
   
}

.reg-form-body {
    padding-top: 20px;
    margin: auto;
    width: 80%;
    
}

.reg-input {
    width: 100%; 
    padding: 5px;
    color: #d63d35;
    font-weight: 600;
    border: none;
    border-bottom: solid 2px #187e8a;
    background-color:transparent;
    
}
.field {
    padding-bottom: 15px;
}
.submit-btn {
    color: #f6fafb;
    border:none;
    text-transform: uppercase;
    background-color: #187e8a;
    padding: 5px;
    border-radius: 5px; 
}
.submit-btn:hover {
    color: #f6fafb;
    background-color: #d63d35;
    border:none;
}

.reg-label {
    color: #d63d35;
    text-transform: uppercase;

}
.log-form-top {
    background-color: #d63d35;
}

/*styles for errors*/

.flash {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
   
    
}
  
.flash.notice {
    color: green;
    background-color: #f6fafbe1;
}
  
.flash.alert {
    color: red;
}
#error_explanation {
    color: red;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
}
  
#error_explanation h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
  
#error_explanation ul {
    list-style-type: none;
    padding: 0;
}
  
#error_explanation li {
    margin-bottom: 5px;
    text-align: center;
}
.error-wrapper {
    width: 30%;
    margin: auto;
}
.logged {
    font-family: 'Roboto';
}
/*categ cards*/
.categ-card {
    box-sizing: border-box;
    border: solid 1px lightgray;
    background-color: #d63d35;
    width: 30%;
    margin: auto;
    margin-top: 50px;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 20px;
}
.categ-card-top {
    color: #f6fafb; 
}
.categ-card-body {
    background-color: #f6fafb;
    padding: 25px;
    margin: auto;
}
.categ-desc-container {
    display: flex;
    justify-content: center;
}
.page-title {
    padding-left: 20px;
}
.date-time-container {
    
    border-radius: 25px;
    margin: auto; 
    width: 40%;
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    font-family: 'Space Mono';
    background-color:  #f6fafbe1;
    margin-bottom: 25px;
    color: #f7c858;
    text-shadow: 2px 2px black;
}

.radio-options {
    width:50%;
    padding-top: 5px;
    margin-left: 10px;
    text-transform: uppercase;
    color: #d63d35;

}
.form-field-radio:checked {
    accent-color: #f7c858;
}
.categ-task-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.undone-task {
    color:#f6fafb;
    background-color: #d63d35;
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
}
.done-task {
    color:black;
    background-color: #f7c858;
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
}

