@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: 'Roboto';
}

a, a:visited {
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    color: #305973;
    padding: 3px;
}

a:hover {
    border: none;
    background-color:#ef7e56;
    color: white;
}

.task-label {
    font-size: 1rem;
    font-weight: 700;
}
.task-title {
    color: #305973;
    text-transform: uppercase;
}
.due-date {
    color: red;
    font-weight: 600;
}
.task-description {
    font-weight: 400;
}
.wrapper {
    width: 100%;
    
}
.page-top {
    padding-right: 20px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: solid 1px #305973;
}

.page-title {
    margin-right: 10px;
    color:#ef7e56;
}

.page-body{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
}
.indiv-categ {
    width: 30%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 2px #ef7e56;
}
    /*colors: cream: #f9f9f9; beige: #ded5c4; orange: #ef7e56; blue: #305973; */

.categ-title {
    color: #305973;
    padding-right: 5px;
    border:none;
}
.categ-description {
    text-transform: uppercase;
    font-size: 0.8rem;
    padding-right: 5px;
}
.add-btn {
    font-weight: 800;
    font-size: 2rem;
}
.form-wrapper {
    padding: 10px;
    border-radius: 10px;
    color: #305973;
}
.form-body{
    margin: auto;
    width: 70%;
}
.form-field {
    width: 60%;
    padding:5px;
    border: solid 1px #ef7e56;
    border-radius: 10px;
    
}
.form-input {
    margin:auto;
    width: 70%;
    margin-bottom: 15px;
    border-radius: 5px;
   
}
.text-area{
    height: 200px;
}
.form-label {
    font-weight: 600;
    text-transform: uppercase;
}
.button {
    border: none;
    background-color:#ef7e56;
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-transform: uppercase;
}
.button:hover {
    border: solid 1px #305973;
    color: #305973;
    background-color: white;
}

   /*.form-pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}*/