<div class='form-pages'>
  <div class='form-top'>
    <h1 class='page-title form-header'>EDIT CATEGORY</h1>
    <div>
      <%= link_to "BACK TO #{@category.title}", category_path(@category) %>
    </div>
  </div>


  <div class='form-proper'>
    <%= render "form", category: @category %>
  </div>

</div>
