<div class='form-pages'>
  <div class='form-top'>
    <h1 class='page-title form-header'>NEW CATEGORY</h1>
    <%= link_to "Back to categories", categories_path %>
  </div>

  <div class='form-proper'>
  <%= render "form", category: @category %>
  </div>
  
</div>

