<div class='form-pages'>
  <div class='form-class'>
    <h1 class='page-title form-header'>NEW CATEGORY</h1>
    <%= link_to "Back to categories", categories_path %>
  </div>

  <%= render "form", category: @category %>
</div>

